@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader {
    @apply w-14 h-14 grid;
    animation: s4 4s infinite;
  }

  .loader::before,
  .loader::after {
    content: '';
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: #766df4 #766df4 #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;

    /* @apply content-[''] place-items-stretch border-8 border-solid rounded-full; */
  }
  .loader::after {
    border-color: #0000 #0000 #e4e4ed #e4e4ed;
    animation-direction: reverse;
  }

  @keyframes s4 {
    100% {
      transform: rotate(1turn);
    }
  }
}
